.code-area {
    -fx-background-color: #1e1e1e;
}

.code-area .styled-text-area {
    -fx-background-color: #1e1e1e;
    -fx-text-fill: #f0f0f0;
    -fx-font-family: Consolas, "JetBrains Mono", monospace;
    -fx-font-size: 14px;
}

.code-area .styled-text-area:focused {
    -fx-background-color: #252525;
}

.code-area .content {
    -fx-background-color: transparent;
}

.json-key {
    -fx-fill: #9CDCFE;
}

.json-string {
    -fx-fill: #CE9178;
}

.json-number {
    -fx-fill: #B5CEA8;
}

.json-boolean {
    -fx-fill: #569CD6;
}

.json-null {
    -fx-fill: #569CD6;
    -fx-font-style: italic;
}

.json-variable {
    -fx-fill: #C586C0;
}

.json-brace {
    -fx-fill: #D4D4D4;
}

.plain-text {
    -fx-fill: #FFFFFF;
}

.line-number {
    -fx-background-color: #2a2a2a; /* фон номера рядка */
    -fx-text-fill: #bfbfbf;         /* колір цифр */
    -fx-padding: 2 8 0 8;           /* внутрішні відступи */
    -fx-font-size: 12px;
    -fx-font-family: Consolas, "JetBrains Mono", monospace;
}
