.text-area, #responseArea, LogArea {
    -fx-font-family: Consolas, "JetBrains Mono", monospace;
    -fx-font-size: 13px;
    -fx-padding: 8px;
}

#sendButton {
    -fx-padding: 6px 10px;
}
#sendButton .ikonli-font-icon {
    -fx-icon-color: white;
}

.split-pane > .split-pane-divider {
    -fx-padding: 1px;
}

.headers-row {
    -fx-background-color: derive(#2a2a2a, -10%);
    -fx-border-color: derive(#2a2a2a, -10%);
    -fx-padding: 6px;
}

.window-button {
    -fx-background-color: transparent;
    -fx-text-fill: #aaaaaa;
    -fx-padding: 4 10;
}

.window-button:hover {
    -fx-background-color: #3a3a3a;
    -fx-text-fill: white;
}

.window-close-button:hover {
    -fx-background-color: #c42b1c;
    -fx-text-fill: white;
}

.icon-button .ikonli-font-icon {
    -fx-icon-color: white;
}

.request-button {
    -fx-background-color: #333333;
    -fx-padding: 6 12 6 12;
    -fx-background-radius: 3;
    -fx-cursor: hand;
}

.request-button FontIcon {
    -fx-icon-color: white;
}

.request-button:hover {
    -fx-background-color: #3d3d3d;
}

.request-button:pressed {
    -fx-background-color: #2a2a2a;
}