/* Консольний стилі для response і body */
.text-area, #responseArea, LogArea {
    -fx-font-family: Consolas, "JetBrains Mono", monospace;
    -fx-font-size: 13px;
    -fx-padding: 8px;
}

/* Send button позбавлений "квадратності" */
#sendButton {
    -fx-padding: 6px 10px;
}
#sendButton .ikonli-font-icon {
    -fx-icon-color: white;
}

/* Роздільник SplitPane трішки тонший */
.split-pane > .split-pane-divider {
    -fx-padding: 1px;
}

/* Стиль headers rows (опційно) */
.headers-row {
    -fx-background-color: -color-bg-default;
    -fx-border-color: derive(-color-bg-default, -10%);
    -fx-padding: 6px;
}

.window-button {
    -fx-background-color: transparent;
    -fx-text-fill: #aaaaaa;
    -fx-padding: 4 10;
}

.window-button:hover {
    -fx-background-color: #3a3a3a;
    -fx-text-fill: white;
}

.window-close-button:hover {
    -fx-background-color: #c42b1c;
    -fx-text-fill: white;
}